@model Coursework.Models.MyInt

@{
    ViewBag.Title = "Створення Замовлення Проживання";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs hidden-sm">
                <h2>Адміністрування</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Загальна інформація", "Index", "Administrating")</li>
                    <li>@Html.ActionLink("Реєстрація Альпініста", "CreateAlpinist", "Administrating")</li>
                    <li>@Html.ActionLink("Створення Замовлення Харчування", "CreateFoodOrder", "Administrating")</li>
                    <li class="active">@Html.ActionLink("Створення Замовлення Проживання", "ChooseAlpinistHouse", "Administrating")</li>
                    <li>@Html.ActionLink("Створення Прогулянки", "ChooseAlpinistWalk", "Administrating")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Administrating/Index">
                            Генерація Даних
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Administrating/GenerateAlpinists">Генерація Альпіністів</a></li>
                            <li><a href="~/Administrating/GenerateFoodOrders">Генерація Замовлень Харчування</a></li>
                            <li><a href="~/Administrating/GenerateHouseOrders">Генерація Замовлень Проживання</a></li>
                            <li><a href="~/Administrating/GenerateWalks">Генерація Прогулянок</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="form-horizontal">
                    <h2>Створення Замовлення Проживання</h2>
                    <br />
                    <h4>Вибір Альпініста</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Альпініст</label>
                        <div class="col-md-10">

                            @{
                                var queryString = "SELECT " +
                                    "[AlpinistID]," +
                                    "[FirstName]," +
                                    "[LastName]" +
                                    "FROM [Alpinists] AS [A] " +
                                    "ORDER BY [FirstName], [LastName]";
                                var connection = new System.Data.SqlClient.SqlConnection(@"Data Source = VALENTINE\SQLEXPRESS;
                                                                                                    Initial Catalog = Coursework; Integrated Security = True");
                                connection.Open();
                                System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(queryString, connection);
                                System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader();
                                List<Coursework.Models.Data> list = new List<Coursework.Models.Data>();
                                while (reader.Read())
                                {
                                    Object[] values = new Object[reader.FieldCount];
                                    reader.GetValues(values);
                                    Coursework.Models.Data data = new Coursework.Models.Data();
                                    data.DataID = Convert.ToInt32(values[0]);
                                    data.DataString = Convert.ToString(values[1]) + " " + Convert.ToString(values[2]);
                                    list.Add(data);
                                }
                                connection.Close();

                                SelectList list2 = new SelectList(list, "DataID", "DataString");

                                @Html.DropDownListFor(model => Model.ID, list2, htmlAttributes: new { @class = "form-control" })
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Вибрати" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}