@model Coursework.Models.Alpinist

@{
    ViewBag.Title = "Реєстрація альпініста";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs hidden-sm">
                <h2>Адміністрування</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Загальна інформація", "Index", "Administrating")</li>
                    <li class="active">@Html.ActionLink("Реєстрація альпініста", "CreateAlpinist", "Administrating")</li>
                    <li>@Html.ActionLink("Створення замовлення` харчування", "CreateFoodOrder", "Administrating")</li>
                    <li>@Html.ActionLink("Створення замовлення проживання", "ChooseAlpinistHouse", "Administrating")</li>
                    <li>@Html.ActionLink("Створення Прогулянки", "ChooseAlpinistWalk", "Administrating")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Administrating/Index">
                            Генерація даних
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Administrating/GenerateAlpinists">Генерація альпіністів</a></li>
                            <li><a href="~/Administrating/GenerateFoodOrders">Генерація замовлень харчування</a></li>
                            <li><a href="~/Administrating/GenerateHouseOrders">Генерація замовлень проживання</a></li>
                            <li><a href="~/Administrating/GenerateWalks">Генерація прогулянок</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="form-horizontal">
                    <h2>Реєстрація альпініста</h2>
                    <br />
                    <h4>Вибір імені, прізвища, альпіністської бази</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Альпіністська База</label>
                        <div class="col-md-10">


                            @{
                                var queryString = "SELECT " +
                                    "[AlpinistBaseID]," +
                                    "[Country]" +
                                    "FROM [AlpinistBases] AS [AB] " +
                                    "ORDER BY [Country]";
                                var connection = new System.Data.SqlClient.SqlConnection(@"Data Source = VALENTINE\SQLEXPRESS;
                                     Initial Catalog = Coursework; Integrated Security = True");
                                connection.Open();
                                System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(queryString, connection);
                                System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader();
                                List<Coursework.Models.Data> list = new List<Coursework.Models.Data>();
                                while (reader.Read())
                                {
                                    Object[] values = new Object[reader.FieldCount];
                                    reader.GetValues(values);
                                    Coursework.Models.Data data = new Coursework.Models.Data();
                                    data.DataID = Convert.ToInt32(values[0]);
                                    data.DataString = Convert.ToString(values[1]);
                                    list.Add(data);
                                }
                                connection.Close();

                                SelectList list2 = new SelectList(list, "DataID", "DataString");

                                @Html.DropDownListFor(model => Model.AlpinistBaseID, list2, htmlAttributes: new { @class = "form-control" })
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Створити" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (ViewBag.MyID)
    {
        @Html.Action("Success");
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
