@model Coursework.Models.HouseOrder

@{
    ViewBag.Title = "Створення Замовлення Проживання";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs hidden-sm">
                <h2>Адміністрування</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Загальна інформація", "Index", "Administrating")</li>
                    <li>@Html.ActionLink("Реєстрація Альпініста", "CreateAlpinist", "Administrating")</li>
                    <li>@Html.ActionLink("Створення Замовлення Харчування", "CreateFoodOrder", "Administrating")</li>
                    <li class="active"><a href="#">Створення Замовлення Проживання</a></li>
                    <li>@Html.ActionLink("Створення Прогулянки", "ChooseAlpinistWalk", "Administrating")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Administrating/Index">
                            Генерація Даних
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Administrating/GenerateAlpinists">Генерація Альпіністів</a></li>
                            <li><a href="~/Administrating/GenerateFoodOrders">Генерація Замовлень Харчування</a></li>
                            <li><a href="~/Administrating/GenerateHouseOrders">Генерація Замовлень Проживання</a></li>
                            <li><a href="~/Administrating/GenerateWalks">Генерація Прогулянок</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="form-horizontal">
                    <h2>Створення Замовлення Проживання</h2>
                    <br />
                    <h4>Вибір будинку та періоду</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Альпініст</label>
                        <div class="col-md-4">
                            @{
                                var queryString = "SELECT " +
                                    "	[FirstName]," +
                                    "	[LastName]" +
                                    "FROM [Alpinists] AS [A]" +
                                    "WHERE ([AlpinistID] = " + Model.AlpinistID + ")";
                                var connection = new System.Data.SqlClient.SqlConnection(@"Data Source = VALENTINE\SQLEXPRESS;
                                                                                                Initial Catalog = Coursework; Integrated Security = True");
                                System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(queryString, connection);
                                connection.Open();
                                System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader();
                                reader.Read();
                                Object[] values1 = new Object[reader.FieldCount];
                                reader.GetValues(values1);
                                var alpinist = Convert.ToString(values1[0]) + " " + Convert.ToString(values1[1]);
                                connection.Close();
                            }
                            <div class="form-control">
                                @alpinist
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Будинок</label>
                        <div class="col-md-4">

                            @{
                                queryString = "SELECT " +
                                    "	[HouseID]," +
                                    "	[H].[Name]," +
                                    "	[HT].[Name]" +
                                    "FROM [Houses] AS [H]" +
                                    "JOIN [HouseTypes] AS [HT]" +
                                    "	ON [H].[HouseTypeID] = [HT].[HouseTypeID]" +
                                    "WHERE ([AlpinistBaseID] IN " +
                                    "	(" +
                                    "	SELECT [AlpinistBaseID] FROM [AlpinistsList]" +
                                    "	WHERE [AlpinistID] = " + Model.AlpinistID +
                                    "	)" +
                                    ")" +
                                    "ORDER BY [H].[Name]";
                                connection = new System.Data.SqlClient.SqlConnection(@"Data Source = VALENTINE\SQLEXPRESS;
                                                                                                Initial Catalog = Coursework; Integrated Security = True");
                                connection.Open();
                                command = new System.Data.SqlClient.SqlCommand(queryString, connection);
                                reader = command.ExecuteReader();
                                List<Coursework.Models.Data> list = new List<Coursework.Models.Data>();
                                while (reader.Read())
                                {
                                    Object[] values = new Object[reader.FieldCount];
                                    reader.GetValues(values);
                                    Coursework.Models.Data data = new Coursework.Models.Data();
                                    data.DataID = Convert.ToInt32(values[0]);
                                    data.DataString = Convert.ToString(values[1]) + ": " + Convert.ToString(values[2]);
                                    list.Add(data);
                                }
                                connection.Close();

                                SelectList list2 = new SelectList(list, "DataID", "DataString");

                                @Html.DropDownListFor(model => Model.HouseID, list2, htmlAttributes: new { @class = "form-control" })
                            }

                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.DateStart, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="Створити" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    if (ViewBag.MyID)
    {
        @Html.Action("Success");
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
