@{
    ViewBag.Title = "Бухгалтерський облік";
}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs hidden-sm">
            <h2>@ViewBag.Title</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">@Html.ActionLink("Загальна інформація", "Index", "Accounting")</li>
                <li>@Html.ActionLink("Замовлення альпіністів", "Report1", "Accounting")</li>
                <li>@Html.ActionLink("Прибуток по альпіністам", "Report2", "Accounting")</li>
                <li>@Html.ActionLink("Прибуток по типам послуг", "Report3", "Accounting")</li>
            </ul><br>
        </div>
        <br>
        @*<div class="col-sm-2">
        </div>*@
        <div class="col-sm-9">
            <h4>
                Тут ви можете дізнатись всю необхідну інформацію стосовно фінансів вашої альпіністської Бази.
            </h4>
            <h4>
                А саме різноманітні звіти з можливістю вибирати період:
            </h4>
            <br />
            <ul>
                <li><p class="my-p">@Html.ActionLink("Звіт замовлень альпіністів", "Report1", "Accounting")</p></li>
                <li><p class="my-p">@Html.ActionLink("Звіт прибутку по альпіністам", "Report2", "Accounting")</p></li>
                <li><p class="my-p">@Html.ActionLink("Звіт прибутку по типам послуг", "Report3", "Accounting")</p></li>
            </ul>
            @*</div>
            <div class="col-sm-2">*@
        </div>
    </div>
</div>