<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Альпіністська база</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a class="my-navbar-brand" href="~/Home">
                        <img src="~/Images/mountains.png" width="50" height="50" alt="">
                        Домашня Сторінка
               </a>
            </div>
            <div class="navbar-collapse collapse" id="MyNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Statistics/Index">
                            Статистика
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Statistics/Index">Загальний прибуток</a></li>
                            <li><a href="~/Statistics/HouseProfit">Проживання</a></li>
                            <li><a href="~/Statistics/FoodProfit">Харчування</a></li>
                            <li><a href="~/Statistics/BaseProfit">Альпіністські Бази</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Accounting/Index">
                            Бухгалтерський облік
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Accounting/Index">Загальна інформація</a></li>
                            <li><a href="~/Accounting/Report1">Замовлення Альпіністів</a></li>
                            <li><a href="~/Accounting/Report2">Прибуток по Альпіністам</a></li>
                            <li><a href="~/Accounting/Report3">Прибуток по Типам Послуг</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/RescueService/Index">
                            Рятувальна Служба
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/RescueService/Index">Поточний стан Маршутів</a></li>
                            <li><a href="~/RescueService/Information">Дата повернення Альпіністів</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Administrating/Index">
                            Адміністрування
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Administrating/Index">Загальна інформація</a></li>
                            <li><a href="~/Administrating/Index">Дата повернення Альпіністів</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Про Проект", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
            @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – додаток ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
