@model IEnumerable<Coursework.Models.HouseOrders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alpinists.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Houses.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alpinists.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Houses.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HouseOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HouseOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HouseOrderID })
        </td>
    </tr>
}

</table>
