@model Coursework.Models.AlpinistsList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlpinistsList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlpinistBases.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlpinistBases.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alpinists.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alpinists.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlpinistsListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
