@model Coursework.Models.RouteState
@{
    ViewBag.Title = "Рятувальна Служба";
    string[] States = new string[] { "Very Bad", "Bad", "Not Good", "Not Bad", "Good", "Excellent" };
    SelectList list1 = new SelectList(States);
    var queryString = "";
    var connection = new System.Data.SqlClient.SqlConnection(@"Data Source = VALENTINE\SQLEXPRESS;
Initial Catalog = Coursework; Integrated Security = True");
}

<h2>Рятувальна Служба</h2>

<br />
<h4 class="my-th">Поточний стан Маршутів:</h4>

@{
    string queryString1 = "SELECT " +
        "	[Name], " +
        "	[Country], " +
        "	[State] " +
        "FROM [Routes] AS [R] " +
        "JOIN [RouteStates] AS [RS] " +
        "	ON [R].[RouteID] = [RS].[RouteID] " +
        "JOIN [AlpinistBases] AS [AB] " +
        "	ON [R].[AlpinistBaseID] = [AB].[AlpinistBaseID] " +
        "WHERE ([DateEnd] IS NULL)" +
        "ORDER BY [Name]";
    if (IsPost)
    {
        queryString = "UPDATE[RouteStates] " +
            "SET [DateEnd] = GETDATE() " +
            "WHERE ([RouteID] = " +
            @Model.Route + ") AND ([DateEnd] IS NULL) " +
            "INSERT INTO [RouteStates] ([State], [RouteID], [DateStart], [DateEnd]) " +
            "VALUES " +
            "	('" + @Model.State +
            "', " + @Model.Route + ", GETDATE(), NULL) ";

        connection.Open();
        System.Data.SqlClient.SqlCommand command1 = new System.Data.SqlClient.SqlCommand(queryString, connection);
        command1.ExecuteNonQuery();
        connection.Close();
    }
    if (queryString1 != "")
    {
        connection.Open();
        System.Data.SqlClient.SqlCommand command1 = new System.Data.SqlClient.SqlCommand(queryString1, connection);
        System.Data.SqlClient.SqlDataReader reader1 = command1.ExecuteReader();
        List<Object[]> list3 = new List<Object[]>();
        while (reader1.Read())
        {
            Object[] values = new Object[reader1.FieldCount];
            reader1.GetValues(values);
            list3.Add(values);
        }
        connection.Close();
        <br />
        <table class="table">
            <tbody>
                <tr>
                    <th class="my-th">Маршут</th>
                    <th class="my-th">Країна</th>
                    <th class="my-th">Стан маршуту</th>
                </tr>
                @{
                    foreach (Object[] element in list3)
                    {
                        <tr>
                            <th>@element[0]</th>
                            <th>@element[1]</th>
                            <th>@element[2]</th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

<hr />
<h4 class="my-th">Зміна стану маршуту:</h4>

<form action="" method="post" id="MyForm">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="Route">Маршут</label>
            <div class="col-md-10">


                @{
                    queryString = "SELECT " +
                        "[RouteID]," +
                        "[Name]" +
                        "FROM [Routes] AS [R] " +
                        "ORDER BY [Name]";
                    connection.Open();
                    System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(queryString, connection);
                    System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader();
                    List<Coursework.Models.Data> list = new List<Coursework.Models.Data>();
                    while (reader.Read())
                    {
                        Object[] values = new Object[reader.FieldCount];
                        reader.GetValues(values);
                        Coursework.Models.Data data = new Coursework.Models.Data();
                        data.DataID = Convert.ToInt32(values[0]);
                        data.DataString = Convert.ToString(values[1]);
                        list.Add(data);
                    }
                    connection.Close();

                    SelectList list2 = new SelectList(list, "DataID", "DataString");

                    @Html.DropDownListFor(model => Model.Route, list2, htmlAttributes: new { @class = "form-control" })
                }

            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2" for="State">Стан</label>

            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.State, list1, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default">Змінити стан маршуту</button>
            </div>
        </div>
    </div>
</form>

@{
    if (IsPost)
    {
        <hr />

        <div class="text-success" align="center">
            <div class="my-p">
                <h2><strong>Успіх!</strong> Стан маршуту змінено</h2>
            </div>
        </div>
        <br />
    }
}