@model Coursework.Models.RouteState
@{
    ViewBag.Title = "Зміна стану маршутів";
}

<h2>Зміна стану маршутів</h2>

<form action="" method="post" id="MyForm">
    <div class="form-horizontal">
        <h4>Введіть дані для звіту:</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="Route">Маршут</label>
            <div class="col-md-10">
                <select class="form-control" id="Route">
                    @{
                        var queryString = "SELECT " +
                            "[RouteID]," +
                            "[Name]" +
                            "FROM [Routes] AS [R]";
                        var connection = new System.Data.SqlClient.SqlConnection(@"Data Source = VALENTINE\SQLEXPRESS; Initial Catalog = Coursework; Integrated Security = True");
                        connection.Open();
                        System.Data.SqlClient.SqlCommand command = new System.Data.SqlClient.SqlCommand(queryString, connection);
                        System.Data.SqlClient.SqlDataReader reader = command.ExecuteReader();

                        List<Object[]> list = new List<Object[]>();
                        while (reader.Read())
                        {
                            Object[] values = new Object[reader.FieldCount];
                            reader.GetValues(values);
                            list.Add(values);
                        }
                        connection.Close();

                        foreach (Object[] element in list)
                        {
                            <option value="@element[0]">@element[1]</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2" for="State">Стан</label>

            <div class="col-md-10">
                <select class="form-control" id="State" form="MyForm">
                    @{
                        string[] States = new string[] { "VeryBad", "Bad", "Not Good", "Not Bad", "Good", "Excellent" };
                        int i = 0;
                        foreach (string element in States)
                        {
                            <option value="@i">@element</option>
                            i++;
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" onclick="change()">Згенерувати звіт</button>
            </div>
        </div>
    </div>
</form>

@{
    if (IsPost)
    {
        int Route = -1;
        int State = -1;
        <script>

            function change()
            {
                @Route = document.getElementById("Route").value;
                @State = document.getElementById("State").value;
            }

        </script>

        <h4>
            @Route
        </h4>
        <h4>
            @States[State]
        </h4>
        }
    }

