@{
    ViewBag.Title = "Статистика";
}

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Статистика</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Загальний прибуток", "Index", "Statistics")</li>
                <li>@Html.ActionLink("Проживання", "HouseProfit", "Statistics")</li>
                <li>@Html.ActionLink("Харчування", "FoodProfit", "Statistics")</li>
                <li>@Html.ActionLink("Альпіністські Бази", "BaseProfit", "Statistics")</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Статистика</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">@Html.ActionLink("Загальний прибуток", "Index", "Statistics")</li>
                <li>@Html.ActionLink("Проживання", "HouseProfit", "Statistics")</li>
                <li>@Html.ActionLink("Харчування", "FoodProfit", "Statistics")</li>
                <li>@Html.ActionLink("Альпіністські Бази", "BaseProfit", "Statistics")</li>
            </ul><br>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="well">
                <h4>Загальний прибуток</h4>
                <canvas id="doughnut-chart" width="808" height="300"></canvas>
                <script src="~/Scripts/Chart.js"></script>
                <script>
                    new Chart(document.getElementById("doughnut-chart"), {
                        type: 'doughnut',
                        data: {
                            labels: ["Проживання (грн.)", "Харчування (грн.)"],
                            datasets: [
                                {
                                    backgroundColor: ["#f1c40f", "#e74c3c"],
                                    data: [10000, 5000]
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Загальний Прибуток за останій рік'
                            }
                        }
                    });
                </script>
            </div>
                  
            <div class="well">
                <h4>Графік Прибутку</h4>
                <canvas id="bar-chart-grouped" width="808" height="400"></canvas>
                <script src="~/Scripts/Chart.js"></script>
                <script>
                    new Chart(document.getElementById("bar-chart-grouped"), {
                        type: 'bar',
                        data: {
                            labels: ["Січень - Березень", "Квітень - Червень", "Липень - Вересень", "Жовтень - Грудень"],
                            datasets: [
                                {
                                    label: "Проживання (грн.)",
                                    backgroundColor: "#f1c40f",
                                    data: [4000, 2000, 3000, 1000]
                                }, {
                                    label: "Харчування (грн.)",
                                    backgroundColor: "#e74c3c",
                                    data: [500, 2500, 500, 1500]
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Прибуток'
                            },
                            scales: {
                                xAxes: [{
                                    stacked: true
                                }],
                                yAxes: [{
                                    stacked: true
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div >